<template name="home">
    <button class="npmtest">NPM Test</button>
    <h1 class="animated bounceInLeft">
        Welcome to Home!!!
        start from 09 06 2016 but now i can undersntand a little about flowrouter:<br>
        Flowrouter is used for menage on URL and we can point to URL that we want to see.
        FlowRouter is use with BlazLaout!!<br>
        BlazLaout: is used to find Template and point to Template name that we want to see!!</h1>

</template>

<!--<html>-->
<!--<head>-->
    <!--<body>-->

<!--*<br>-->
<!--**<br>-->
<!--***<br>-->
<!--****<br>-->
<!--*****-->
<!--</body>-->
<!--</head>-->


<!--</html>-->